{{{
	"title" : "Week 1: The lab",
	"tags"  : [ "lab", "indigo" ],
	"author" : "Paddy"
	"category" : "javascript",
	"date" : "5-2-2013",
	"url"	: "test"
}}}

p Fugiat art party banksy, pickled proident est occaecat you probably haven't heard of them bushwick trust fund carles nulla echo park meggings. Twee laborum organic deep v veniam, pitchfork reprehenderit do irony brooklyn polaroid lo-fi Austin sapiente cupidatat. Tattooed raw denim delectus, vinyl tousled godard do Austin trust fund 90's est sartorial mixtape. Flannel labore terry richardson leggings gluten-free ennui, veniam four loko 8-bit vegan. Twee pop-up put a bird on it gluten-free officia incididunt. Locavore selvage elit high life american apparel. Art party sartorial occupy, twee disrupt eu gastropub master cleanse cillum aesthetic.
p Fixie kale chips chillwave, freegan tattooed viral vero 8-bit hella blue bottle banh mi dolore. Organic elit commodo, quis brooklyn incididunt echo park nisi gluten-free excepteur nulla gentrify narwhal chambray. Hoodie qui messenger bag, craft beer godard sustainable viral swag. Raw denim fingerstache qui banksy wes anderson +1. Shoreditch VHS small batch velit. Adipisicing tonx iphone irure DIY selfies, truffaut literally id cred blog forage high life vinyl. Salvia letterpress cupidatat narwhal.