extends layout


block current
	.updates
		.content
			.title
				h2 What we're up to
			.post
				p Maecenas tristique sodales augue, eleifend rutrum justo pretium eu. In leo lectus, facilisis nec tincidun
		.video
			video#current(autoplay="yes", muted="yes", loop="loop")
				source(src="mov/test.mp4")
				source(src="mov/test.ogv", type="video/ogg")
				img#current(src="img/test.jpg")

block team

	.team


block contact
	h1 contact