extends layout

block header
	.header
		figure

block current
	.updates
		.content
			.title
				h2 What we're up to
			.post
				p lorem ipsum set dolor
		.video
			video#current(autoplay="yes", muted="yes", loop="loop")
				source(src="mov/test.mp4")
				source(src="mov/test.ogv", type="video/ogg")
				img#current(src="img/test.jpg")

block about

block team
	h1 team

block contact
	h1 contact