extends layout

block content
	li.dragItem(style='position:absolute; top: 940px; left: 150px')
		img(src="/img/mday4.png")
	li.dragItem(style='position:absolute; top: 940px; left: 370px')
		img(src="/img/mday2.png")
	li.dragItem(style='position:absolute; top: 940px; left: 590px')
		img(src="/img/mday1.png")
	li.dragItem(style='position:absolute; top: 940px; left: 810px')
		img(src="/img/mday3.png")

	img(src="/img/homePage.png")

block bar
	.bar
		.header
			.fb
				img(src='/img/reisman_heather.jpg', style="height: 25px; margin-right: 20px")
				| Hi <a href="/proto/2">Mary</a>, drag an item to save it!
		.content
			.dropSpot.scroll
				.lists.newList
					img(src='/img/newlist.png')
					a(href='#') Make a new list
				-var listNames = ['John\'s Bday', 'Running gear', 'New den', 'Webdev stuff', 'XKCD only', 'Toronto', 'Other stuff','iPhone','Cooking books']
				-for(var i=0;i<3;i++)
					.lists
						a(href='/proto/2')= listNames[i]
			.cart
				.lists